################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Sushi/.vs/Sushi/FileContentIndex/08f78d7d-26c4-4319-bde5-887affb0cd0c.vsidx
