@using SushiStore.WebUI.Models
@using SushiStore.WebUI.HtmlHelpers
@model SushisListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Sushis)
{
    @Html.Partial("SushiSummary",p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

